informalization/docgen_export/docgen_export_train.jsonl filter=lfs diff=lfs merge=lfs -text
informalization/docgen_export/docgen_nl_of_codex.py filter=lfs diff=lfs merge=lfs -text
train_backtranslation/docgen_export/docgen_export_full.json filter=lfs diff=lfs merge=lfs -text
train_backtranslation/docgen_export/docgen_export_with_nl.json filter=lfs diff=lfs merge=lfs -text
train_backtranslation/docgen_export/docgen_export_train.json filter=lfs diff=lfs merge=lfs -text
train_backtranslation/docgen_export_raw/docgen_export.json filter=lfs diff=lfs merge=lfs -text
train_backtranslation/make_data/raw_data/docgen_export_full.json filter=lfs diff=lfs merge=lfs -text
train_backtranslation/make_data/finetune_splits/docgen_export_train.jsonl filter=lfs diff=lfs merge=lfs -text
train_backtranslation/make_data/docgen_export_with_nl/docgen_export_with_nl.jsonl filter=lfs diff=lfs merge=lfs -text
eval/retrieval_database/ filter=lfs diff=lfs merge=lfs -text
eval/retrieval_database/docgen_export_with_formal_statement.jsonl filter=lfs diff=lfs merge=lfs -text
eval/retrieval_database/np_embeddings.npy filter=lfs diff=lfs merge=lfs -text
train_backtranslation/make_data/docgen_export_raw/docgen_export_full.json filter=lfs diff=lfs merge=lfs -text
